<li id="{{id}}" class="task {{status}}"   draggable="true" ondragstart="drag(event)">
	<b>{{name}}</b>
	<p><i>[{{status}}]</i></p>
	<div class="status-opt">
		{{#equal status "new" }}
			<a class="btn" href="{{ url "task#done" id }}">Done</a>
			<a class="btn" href="{{ url "task#start" id }}">Start</a>
		{{/equal}}
		{{#equal status "inProgress" }}
			<a class="btn" href="{{ url "task#done" id }}">Done</a>
			<a class="btn" href="{{ url "task#tonew" id }}">Reset to new</a>
		{{/equal}}
		{{#equal status "done" }}
			<a class="btn" href="{{ url "task#tonew" id }}">Reset to new</a>
			<a class="btn" href="{{ url "task#resume" id }}">Resume</a>
		{{/equal}}
	</div>
	<a class="btn" href="{{ url "task#show" id}}">Show</a>
	<a class="btn" href="{{ url "task#edit" id}}">Edit</a>
	<a class="btn" href="{{ url "task#destroy" id}}">Destroy</a>
	<i class="modified">{{ modified }}</i>
</li>
