<h2>{{name}}</h2>
<i>[{{status}}]</i>
<br />
<br />
<p><i>description:</i> {{description}}</p>

<br />
<br />
<!-- TODO: Add edit button -->
<a href="{{ url "task#edit" id}}">Edit</a>
<a href="{{ url "task#destroy" id}}">Destroy</a>